<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/login.css">
    <title>Iniciá sesión en Geek Store</title>
<body>
    <%- include("partials/header.ejs") %>
<main>
<form action="/usuarios/login" method="POST">
    <nav>
    <h2>Iniciá sesión</h2>
    <div class="loginU">
            <input placeholder="USUARIO" type="text" name="user" id="user" value="<%= locals.old && old.user ? old.user: ""%>" ></p>   
            <% if (locals.errorsLogin && locals.errorsLogin.user) {%>
                <p id="errores">
                    <%= locals.errorsLogin.user.msg %> 
                </p>   
                <% } %>                 
            <input placeholder="CONTRASEÑA" type="password" name="password" id="password" ></p>
            <% if (locals.errorsLogin && locals.errorsLogin.password) {%>
                <p id="errores">
                    <%= locals.errorsLogin.password.msg %> 
                </p>   
                <% } %>  
    </div>
    <div id="remember">
        <label for = "remember">Recordame</label>
        <input type="checkbox" name="remember" class="recordame">
        </div>
    <div class="submitMasEnviar">          
            <input type="submit" name="submit" id="enviar" value="ENVIAR"> </input>            
    </div>
    <button id="boton"><a href="/usuarios/registro">¿Todavía no tenés una cuenta? Registrate acá.</a></button>
    </nav>
</form>

<% if(locals.errorMsg){ %>
    <span style="color: red;"> <%= errorMsg %> </span>
  <% } %> 
<a href="/"><button id="vuelvo">Volver a Pagina Principal</button></a>       
</main>
<%- include("partials/footer.ejs") %>
    </body>
    </html>
