<!DOCTYPE html>
<html lang="es">
<%- include("partials/head.ejs") %>
<title>Nuestros productos - Geek Store</title>
<body>
<%- include("partials/header.ejs") %>
<main>  
    <section class="search-bar">
        <div class="form" action="#" method="GET">
            <input type="search" name="busqueda" placeholder="Buscar productos, licencias y más">
            <button type="submit" aria-placeholder="fa fa-search"><i class="fa fa-search"></i></button>                
        </div>
    </section>    

    <section class="productosRelacionados">
        <h3 class="subtitulo">Nuestros productos:</h3>
        <div class="productos">
            <% productos.forEach(function(producto){ %>
        <article class="product1">
            <button id="edit"><a href="/productos/<%= producto.id%>/editar">Editar</a></button>
            <button id="producto"><a href="/productos/<%= producto.id%>">
            <img src= "/img/products/<%= producto.img ? producto.img: 'default.png' %>">
            <div class="articulo">
            <p class="precio">$ <%= producto.precio%></p>
            <p class="descuento"><%= producto.descuento%> % OFF</p>
            <h4 class="descripciones"> <%= producto.descripcion%></h4>
            </div>
            </a></button>
            <button id="carrito"><a href="/productos/productCart">Añadir al carrito</a></button>
        </article>     
        <% }) %>  
        </div>
    </section>
    </main>
<%- include("partials/footer.ejs") %>
</body>
</html>



