<!DOCTYPE html>
<html lang="es">
    <%- include("partials/head.ejs") %>
    <link rel="stylesheet" href="/css/users.css">
<body>
    <%- include("partials/header.ejs") %>
<main>   
    <section class="search-bar">
        <div class="form" action="#" method="GET">
            <input type="search" name="busqueda" placeholder="Buscar productos, licencias y m치s">
            <button type="submit" aria-placeholder="fa fa-search"><i class="fa fa-search"></i></button>                
        </div>
    </section>    
    <section class="userList">
        <h3 class="subtitulo">Detalle de usuario #<%= user.id %>:</h3>
        <div class="users">
        <article>
            <button id="boton"><a href="/users/<%= user.id%>">
            <div class="fotoUser">
            <label>Foto de usuario</label>
            <img src= "<%= user.img%> ">
            </div>
            <div class="user1">
            <div>
            <p id="title1">Nombre y apellido: </p>
            <p id="info" ><%= user.name%></p>
            </div>
            <div>
            <p id="title1">Correo Electr칩nico:</p> 
            <p id="info" ><%= user.email%></p>
            </div>
            <div>
            <p id="title1"> Fecha de Nacimiento:</p> 
            <p id="info" ><%= user.birthDate%></p>
            </div>
            <div>
            <p id="title1"> Direcci칩n:</p> 
            <p id="info" ><%= user.domicilio%></p>
            </div>
            <div>
            <p id="title1"> Ciudad:</p> 
            <p id="info" ><%= user.ciudad%></p>
            </div>
            <div>
            <p id="title1"> Provincia:</p> 
            <p id="info" ><%= user.provincia%></p>
            </div>
            <div>
            <p id="title1"> Intereses:</p> 
            <p id="info" ><%= user.intereses%></p>
            </div>
            <div>
            <p id="title1"> Usuario:</p> 
            <p id="info" ><%= user.user%></p>
            </div>
            <div>
            <p id="title1"> Contrase침a: </p>
            <p id="info" ><%= user.password %></p>
            </div>
            </div>
        </article>    
        </a></button> 
        </div>
    </section>
</main>  
<%- include("partials/footer.ejs") %>
</body>
</html>

